body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 44px;
  color: #000;
  font-weight: 700;
  padding: 10px 0;
}
.spantext {
  color: #22b574;
  font-style: italic;
  font-weight: 700;
}
h2 {
  font-size: 35px;
  color: #000;
  font-weight: 400;
}
h3 {
  font-size: 25px;
  color: #000;
  font-weight: 700;
}
h4 {
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}
h5 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}

img {
  width: 100%;
}

p {
  color: #747474;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}
ul {
  padding-left: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  /* color: #; */
}

a:hover {
  text-decoration: none;
  color: var(--clr_secondary);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn {
  font-size: 13px;
  font-weight: var(--fw_bold);
  font-family: var(--custom_fn_secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  padding: 6px;
  transition: all 0.6s ease-in-out;
  min-width: 110px;
  height: 41px;
}
.btn_secondary {
  background-color: var(--clr_bg_gray_btn);
  border-radius: 8px;
  padding: 6px;
  color: var(--clr_dark_text_btn);
  font-size: 13px;
  font-weight: var(--fw_bold);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--clr_bg_gray_btn);
  transition: all 0.6s ease-in-out;
  height: 41px;
}

.btn_secondary:hover {
  background-color: var(--clr_secondary);
  color: var(--clr_primary);
}
.btn_call {
  justify-content: space-between;
}
.btn_call .call_icon {
  background-color: var(--clr_primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  width: 33px;
  height: 33px;
}
.btn_call .call_icon img {
  width: 20px;
  height: 20px;
}
button:focus {
  outline: 0px dotted;
}

/* btn-primary */
.btn_primary {
  background-color: var(--clr_secondary);
  border-radius: 8px;
  padding: 6px;
  color: var(--clr_primary);
  font-size: 13px;
  font-weight: var(--fw_bold);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--clr_secondary);
  transition: all 0.6s ease-in-out;
  min-width: 110px;
  height: 41px;
}
.btn_primary:hover {
  background-color: var(--clr_primary);
  color: var(--clr_secondary);
}

/* cta_btn */
.cta_btn{
    font-size: clamp(10px, 2vw, 12px);
    letter-spacing: clamp(0px, 2vw, 2px);
    line-height: 1.4;
    text-transform: uppercase;
    height: clamp(46px, 5vw, 62px);
    justify-content: space-between !important;
    gap: 15px;
    border-radius: 12px;
    padding-inline: clamp(12px, 2vw, 20px);
}
.cta_btn span{
    padding-inline-start: 10px;
}
.cta_btn img{
    width: 12px;
    height: 12px;
    color: var(--clr_primary);
}
.cta_btn:hover img{
    filter: brightness(0) saturate(100%) invert(54%) sepia(34%) saturate(6772%) hue-rotate(165deg) brightness(93%) contrast(101%);
}
.cta_white_btn{
    background: var(--clr_primary);
    color: var(--clr_dark);
    border: 1px solid var(--clr_primary);
}
.cta_white_btn:hover{
  border: 1px solid var(--clr_secondary);
}
.cta_white_btn img{
    filter: invert(1);
}
/* btn_bg_transparent */
.btn_bg_transparent{
    background: transparent;
    border: 1px solid #ADADAD;
    font-size: clamp(10px, 2vw, 12px);
    letter-spacing: clamp(0px, 2vw, 2px);
    border-radius: 12px;
    line-height: 1.4;
    text-transform: uppercase;
    height: clamp(40px, 5vw, 62px);
    padding: clamp(12px, 5vw, 23px) clamp(20px, 5vw, 30px);
    color: var(--clr_dark);
}
.btn_bg_transparent:hover {
  background-color: var(--clr_secondary);
  color: var(--clr_primary);
  border-color: var(--clr_secondary);
}
@media only screen and (max-width: 767px)  {
  .btn{
    letter-spacing: 0.4px !important;
  }
}